* {
  padding: 0;
  margin: 0;
  font-size: 1.000em;
  font-family: Verdana,Serif,Arial;
  border-radius: border-box;
  -webkit-border-radius: border-box;
  -moz-border-radius: border-box;
  -o-border-radius: border-box;
  -ms-border-radius: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body,
html {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 3.75;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 3.75;
  -moz-transform-style: preserve-3d;
  -moz-perspective: 3.75;
  -o-transform-style: preserve-3d;
  -o-perspective: 3.75;
  -ms-transform-style: preserve-3d;
  -ms-perspective: 3.75;
  border-radius: border-box;
  -webkit-border-radius: border-box;
  -moz-border-radius: border-box;
  -o-border-radius: border-box;
  -ms-border-radius: border-box;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  display: none;
}
nav {
  position: fixed;
  height: 10%;
  width: 100%;
  padding: 0.650em;
  background-color: #0b5c75;
  opacity: 0.8;
  z-index: 5;
}
nav a {
  display: block;
  margin: 2em 4em;
  text-align: center;
  vertical-align: midle;
  float: left;
  clear: right;
  color: #7e75ff;
  text-decoration: none;
}
img {
  display: block;
}
nav a:hover {
  color: #f8ff94;
}
.subslide {
  display: block;
  height: 60%;
  width: 100%;
  padding: 0.455em;
  background-color: #0b5c75;
  opacity: 0.8;
  transform: translate3d(-0.375em) scale(-0.375em);
  -webkit-transform: translate3d(-0.375em) scale(-0.375em);
  -moz-transform: translate3d(-0.375em) scale(-0.375em);
  -o-transform: translate3d(-0.375em) scale(-0.375em);
  -ms-transform: translate3d(-0.375em) scale(-0.375em);
  position: relative;
  background-size: cover;
  z-index: 1;
}
.subslide h1,
.subslide p,
.subslide ul {
  position: relative;
  margin: 1.250em;
  margin-top: 0;
  padding: 0.650em;
}
.subslide p {
  margin: 0.650em;
  text-align: justify;
  font-size: 1.000em;
  color: #0d0438;
}
.subslide ul li {
  list-style: georgian;
  font-size: 1.000em;
  color: #d358f7;
}
.subslide h1 {
  text-align: center;
  font-size: 1.250em;
  font-style: italic;
  color: #990641;
}
.paralaxSlides {
  display: block;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(-0.375em) scale(-0.375em);
  -webkit-transform: translate3d(-0.375em) scale(-0.375em);
  -moz-transform: translate3d(-0.375em) scale(-0.375em);
  -o-transform: translate3d(-0.375em) scale(-0.375em);
  -ms-transform: translate3d(-0.375em) scale(-0.375em);
  position: relative;
  z-index: -1;
}
.paralaxSlides h1 {
  position: relative;
  transform: translate3d(-0.375em) scale(-0.375em);
  -webkit-transform: translate3d(-0.375em) scale(-0.375em);
  -moz-transform: translate3d(-0.375em) scale(-0.375em);
  -o-transform: translate3d(-0.375em) scale(-0.375em);
  -ms-transform: translate3d(-0.375em) scale(-0.375em);
  font-size: 1.250em;
  text-align: center;
  color: #f7f7f7;
  top: 10em;
  width: 100%;
  height: 100%;
  z-index: 1;
}
footer {
  width: 100%;
  height: 60%;
  background-color: #2e2e2e;
}
footer h1 {
  text-align: center;
  font-size: 1.250em;
  font-style: italic;
  color: #990641;
  color: #ff751a;
}
footer ul li {
  list-style: georgian;
  font-size: 1.000em;
  color: #d358f7;
}
footer ul {
  margin: 1.250em 6.250em;
  float: left;
  clear: right;
}
.slide1 {
  background-image: url("../images/bg1.jpg");
}
.slide2 {
  background-image: url("../images/bg2.jpg");
}
.slide3 {
  background-image: url("../images/bg3.jpg");
}
.slide4 {
  background-image: url("../images/bg4.jpg");
}
.slide5 {
  background-image: url("../images/bg5.jpg");
}
