//==============================================================//Variables Part//==============================================================//
@width: 1;
@height: 1;
@radius: e("border-box");
@speed: e("-2px");
//e("something") returns value of the real something//
@textAlign: e("center");
@verticalAlign: e("midle");
@fixedpos: e("fixed");
@relpos: e("relative");
@prefix: "../images/";
@translate3d: "translate3d";
@translateX: "translateX";
@translateY: "translateY";
@translateZ: "translateZ";
@scale: 2.5;
@px: e(@speed);
@type: e("preserve-3d");
@fontSize: e("16px");
//==============================================================//Mixins Part//==============================================================//
.overflow-mixin()
{
    -webkit-overflow-scrolling: touch;
}

.boxSize-mixin(@radius)
{
     box-sizing: @radius;
    -webkit-box-sizing: @radius;
    -moz-box-sizing: @radius;
    -o-box-sizing: @radius;	
    -ms-box-sizing: @radius;   
}

.transform-scale-mixin(@translate,@speed,@scale)
{ 
   transform: e("@{translate}(@{speed}),scale(@{scale})");
  -webkit-transform: e("@{translate}(@{speed}),scale(@{scale})");
  -moz-transform: e("@{translate}(@{speed}),scale(@{scale})");
  -o-transform: e("@{translate}(@{speed}),scale(@{scale})");
  -ms-transform: e("@{translate}(@{speed}),scale(@{scale})");	
}
.transform-mixin(@translate,@speed)
{ 
   transform: e("@{translate}(@{speed})");
  -webkit-transform: e("@{translate}(@{speed})");
  -moz-transform: e("@{translate}(@{speed})");
  -o-transform: e("@{translate}(@{speed})");
  -ms-transform: e("@{translate}(@{speed})");	
}


.transformStyle-mixin(@px,@type)
{
	 transform-style: @type;
    -webkit-transform-style: @type;
    -moz-transform-style: @type;
    -o-transform-style: @type;
    -ms-transform-style: @type;
}

.perspective-mixin(@px)
{
	perspective: @px;
   -webkit-perspective: @px;
   -moz-perspective: @px;
   -o-perspective: @px;
   -ms-perspective: @px;
}

.ul-li-mixin()
{
	list-style: none;
	font-size: @fontSize;
	color: #d358f7;
}

.headline-mixin(@textAlign){
	text-align: @textAlign;
	font-size: 20px;
	font-style: italic;	
	color: #990641;
}
//==============================================================//CSS Part//==============================================================//
*
{
	padding: 0;
	margin: 0;
	font-size: @fontSize;
	font-family: Verdana,Serif,Arial;
}

html
{
   .boxSize-mixin(@radius);
}

body
{
	height: 250vh;
	width: 100vw;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    .boxSize-mixin(@radius);
    .perspective-mixin(@px);
}

*, *::before, *::after
{
	box-sizing: inherit;
}

::-webkit-scrollbar
{
	display: none;
}

@view-port
{
	zoom:1.0;
	width: extend-to-zoom;
}

@-ms-view-port
{
	zoom:1.0;
	width: extend-to-zoom;
}

@media(max-width:960px)
{
	.container
	{
		width: auto;
	}
}

#paralax
{
	display: block;
	height: 240vh;
	width: 100vw;
	.transformStyle-mixin(@px,@type);
}

.frontSlides
{
	display: block;
	position: @relpos;
	background-color: #3333ff;
	height: 90vh;
	width: 100vw;
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	background-attachment: fixed;
	border: 1px groove #000;
}

.backSlides
{
	display: block;
	position: @relpos;
	background-image: url("../images/bg1.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 90vh;
	width: 100vw;
	border: 1px groove #fff;
	.transform-scale-mixin(@translateZ,@speed,@scale);
}

.frontSlides p, .backSlides p
{
	text-align: justify;
	vertical-align: middle;
	padding: 15px;
	margin: 20px;
	font-size: 18px;
	background-color: #fff;
	opacity: 0.7;
}

.frontSlides img
{
	display: block;
	width: percentage(@width - 0.60);
	height: percentage(@height - 0.70);
	padding: 5px;
	margin: 20px;
	font-size: 18px;
}

.backSlides .info
{
	display:block;
	width: percentage(@width - 0.7);
	height: percentage(@height - 0.6);
	margin: 25px 15px;
	border: 1px groove green;
	clear: left;
	float: right;
}	

.backSlides .info p
{
	display: inline-block;
	text-align: justify;
	vertical-align: middle;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
}

.backSlides .info img
{
	display:block;
	width: percentage(@width - 0.65);
	height: percentage(@height - 0.65);
	padding:5px;
	margin: 5px auto;
}

.frontSlides ul
{
	display: block;
	margin: 50px;
	padding: 20px;
}

.frontSlides ul li
{
	font-size: 18px;
}