<h1>За Мен</h1>
{{main-text pid="for-me-text-1" parent_class="for-me" text="Практиката по дентална медицина е регистрирана през 1992 в Софийския Окръжен Съд и е вписана в Търговския Регистър като <span>ЕТ 'АИППДП Д-р Анна Кирилова-Цолева'</span> Зъболекарския кабинет е обзаведен с модерно обурудване, необходимо за дентално лечение. Кабинета разполага със <span>собствен собствен рентгенов кабинет</span> за <span>зъбни снимки</span> Д-р Цолева работи с <span>НЗОК</span>."}}
{{main-image iid="for-me-image-1" path="../images/mama.jpg" parent_class="for-me"}}
