<h1>Началxо</h1>
{{main-text pid="home-text-1" parent_class="home" text="<span>Д-р Анна Кирилова-Цолева </span>се дипломира като Доктор по Дентална Медицина през 1984 година в 'Медицинска Академия' гр. София Факултет по 'Дентална Медицина'. През 1992г. защитава поливалентна специалност в същия факултет. От 1994 година работи в собствен кабинет със самостоятелна частна практика в гр. Костинброд."}}
{{main-text pid="home-text-2" parent_class="home" text="Д-р Анна Кирилова Цолева е <span>иновативен зъболекар<span>, прилагаща принципите на модерната стоматология."}}
{{main-image iid="home-image-1" path="../images/mama.jpg" parent_class="home"}}
